<html lang="en">
<%- include('header'); -%>
<%- include('container'); -%>
  <div class="jumbotron">
	<h1>PROGRAMMING COURSES FOR STUDENTS</h1>
	<p>Our website helps students to learn programming easily. We provide online courses on a variety of programming languages and scripting languages that students are interested in.</p>
	<p>Take a look around:</p>
	<ul>
		<li style="color: blue; font-size: large;">HTML</li>
		<li style="color: blue; font-size: large;">CSS</li>
		<li style="color: blue; font-size: large;">JAVA</li>
		<li style="color: blue; font-size: large;">PHP</li>
		<li style="color: blue; font-size: large;">JavaScript</li>
		<li style="color: blue; font-size: large;">Python</li><br>
	</ul>
	<p>
	  <a href="/home/profile">View Profile</a>
	</p>
  </div>
<%- include('footer'); -%>